general:
    common: \Your\Fully\Qualified\Class\Name\Here
    user: \Your\Fully\Qualified\Class\Name\Here
options:
    get_set_funcs: true
    var_visibility: public
    json_serialize: true
    enable_backtrace: false
    use_defaults: true
    defaults_override_null: true
    type_hinting: false
tables:
    EXAMPLE_TABLE:
        override:
            constructor: protected
        return_types:
            field1: mixed
            field2: string
            field3: bool
        audit_ignore:
            - example_field_1
            - example_field_2
