version: 5
general:
    common: \Your\Fully\Qualified\Class\Name\Here
    user: \Your\Fully\Qualified\Class\Name\Here
    audit: true
    audit_handler:
options:
    get_set_funcs: true
    var_visibility: public
    json_serialize: true
    enable_backtrace: false
    use_defaults: true
    defaults_override_null: true
    type_hinting: false
    cache_after_purge: false
tables:
    EXAMPLE_TABLE:
        audit_ignore: false
        audit_handler:
        constructor: protected
        cache_ttl: 60
        cache_after_purge: false
        fields:
            example_field_1:
                visibility: protected
                type_hint: string
                audit_ignore: true
                uuid_field: false
                getter_ignore: true
                setter_ignore: true
                required: true
            example_field_2:
                visibility: protected
                type_hint: string
                audit_ignore: true
                uuid_field: false
                getter_ignore: true
                setter_ignore: true
                required: false
        save_hook: \Your\Fully\Qualified\Class\Name\Here::method
